### Protótipo de ETL para o csv (continents.csv)

In [52]:

import pandas as pd
import numpy as np

# Configurações globais de exibição
pd.set_option('display.max_columns', None)  # mostra todas as colunas
pd.set_option('display.max_rows', None)     # mostra todas as linhas
pd.set_option('display.width', None)        # ajusta a largura total
pd.set_option('display.max_colwidth', None) # mostra todo o conteúdo das células

# Leitura do arquivo
raw_dataframe = pd.read_csv('../data/states.csv', index_col=0)
all_dataframe = raw_dataframe.copy()

all_dataframe.info()
all_dataframe

<class 'pandas.core.frame.DataFrame'>
Index: 63 entries, 0 to 62
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   state                63 non-null     object
 1   updated              63 non-null     int64
 2   cases                63 non-null     int64
 3   deaths               63 non-null     int64
 4   recovered            63 non-null     int64
 5   casesPerOneMillion   63 non-null     int64
 6   deathsPerOneMillion  63 non-null     int64
 7   population           63 non-null     int64
dtypes: int64(7), object(1)
memory usage: 4.4+ KB

,state,updated,cases,deaths,recovered,casesPerOneMillion,deathsPerOneMillion,population
0,California,1761609295352,12711918,112443,0,321721,2846,39512223
1,Texas,1761609295352,9190299,104793,0,316952,3614,28995881
2,Florida,1761609295352,8048191,95206,0,374722,4433,21477737
3,New York,1761609295352,7587861,83374,0,390050,4286,19453561
4,Illinois,1761609295352,4136659,42005,0,326446,3315,12671821
5,Ohio,1761609295352,3741277,43896,3684603,320065,3755,11689100
6,Pennsylvania,1761609295352,3565499,51480,0,278511,4021,12801989
7,North Carolina,1761609295352,3501404,29059,0,333846,2771,10488084
8,Michigan,1761609295352,3306221,44762,0,331057,4482,9986857
9,New Jersey,1761609295352,3295020,36873,0,370969,4151,8882190
10,Georgia,1761609295352,3287483,44069,0,309631,4151,10617423
11,Tennessee,1761609295352,2729641,30729,0,399703,4500,6829174
12,Arizona,1761609295352,2607545,34402,0,358242,4726,7278717
13,Massachusetts,1761609295352,2367542,25586,0,343495,3712,6892503
14,Virginia,1761609295352,2315784,23748,0,271311,2782,8535519
15,Indiana,1761609295352,2208419,28018,0,328037,4162,6732219
16,Washington,1761609295352,2070848,17339,0,271947,2277,7614893
17,Wisconsin,1761609295352,2043838,16758,0,351028,2878,5822434
18,Minnesota,1761609295352,1900794,16458,0,337042,2918,5639632
19,Colorado,1761609295352,1874746,15552,0,325548,2701,5758736
20,South Carolina,1761609295352,1857853,20311,0,360838,3945,5148714
21,Kentucky,1761609295352,1808735,19183,0,404849,4294,4467673
22,Missouri,1761609295352,1780715,22778,0,290140,3711,6137428
23,Louisiana,1761609295352,1684058,19270,0,362257,4145,4648794
24,Alabama,1761609295353,1659936,21138,0,338542,4311,4903185
25,Maryland,1761609295353,1451442,17929,0,240079,2966,6045680
26,Oklahoma,1761609295353,1306350,16157,1288527,330139,4083,3956971
27,Utah,1761609295353,1137615,5719,0,354844,1784,3205958
28,Arkansas,1761609295353,1062606,13246,0,352112,4389,3017804
29,Iowa,1761609295353,1058274,10797,0,335420,3422,3155070
30,Mississippi,1761609295353,1000415,13474,0,336144,4527,2976149
31,Oregon,1761609295353,992925,9764,0,235417,2315,4217737
32,Connecticut,1761609295353,983652,12354,0,275897,3465,3565287
33,Kansas,1761609295353,946564,10229,934730,324910,3511,2913314
34,Nevada,1761609295353,923059,12485,0,299679,4053,3080156
35,New Mexico,1761609295353,725653,9623,0,346072,4589,2096829
36,West Virginia,1761609295353,703856,8247,0,392745,4602,1792147
37,Nebraska,1761609295353,574399,5063,566979,296938,2617,1934408
38,Idaho,1761609295353,525825,5482,0,294239,3068,1787065
39,Rhode Island,1761609295353,443803,4166,0,418935,3933,1059361
40,Hawaii,1761609295353,418369,2167,0,295485,1531,1415872
41,New Hampshire,1761609295353,382013,3329,0,280952,2448,1359711
42,Delaware,1761609295353,350706,3663,0,360155,3762,973764
43,Maine,1761609295353,346182,3394,0,257535,2525,1344212
44,Montana,1761609295353,333758,3712,329725,312280,3473,1068778
45,North Dakota,1761609295353,309990,2513,0,406778,3298,762062
46,Alaska,1761609295353,301513,1485,0,412159,2030,731545
47,South Dakota,1761609295353,282895,3231,0,319779,3652,884659
48,Wyoming,1761609295353,196126,2126,0,338873,3673,578759
49,District Of Columbia,1761609295353,178747,1434,0,253273,2032,705749
50,Vermont,1761609295353,155080,1139,0,248530,1825,623989
51,Puerto Rico,1761609295353,1473460,7326,0,435042,2163,3386941
52,Guam,1761609295353,61139,420,60681,0,0,0
53,United States Virgin Islands,1761609295354,26148,133,26002,0,0,0
54,Northern Mariana Islands,1761609295354,14341,41,0,0,0,0
55,American Samoa,1761609295354,8359,34,0,0,0,0
56,Veteran Affairs,1761609295354,958962,26087,931580,0,0,0
57,US Military,1761609295354,742808,689,0,0,0,0
58,Navajo Nation,1761609295354,89106,2268,0,0,0,0
59,Federal Prisons,1761609295354,71485,324,0,0,0,0
60,Grand Princess Ship,1761609295354,122,7,115,0,0,0
61,Wuhan Repatriated,1761609295354,3,0,3,0,0,0
62,Diamond Princess Ship,1761609295354,46,0,46,0,0,0

### Renomeando colunas para pt-BR

In [ ]:
traducao_dict = {
    "state": "estados",
    "updated": "atualizado",
    "cases": "casos",
    "deaths": "óbitos",
    "recovered": "recuperados",
    "casesPerOneMillion": "casosPorMilhão",
    "deathsPerOneMillion": "óbitosPorMilhão",
    "population": "população",
}

all_dataframe = all_dataframe.rename(columns=traducao_dict)

### ✅ Checklist de Atualização de Colunas

#### 1. estado
- [x] Conferir consistência de nomes (sem abreviações inconsistentes)
- [x] Checar valores nulos

#### 2. atualizado
- [x] Confirmar formato de timestamp ou data
- [x] Garantir que não há valores faltantes

#### 3. casos
- [x] Conferir se os números são inteiros e não negativos
- [x] Checar valores duplicados ou inconsistentes

#### 4. óbitos
- [x] Conferir se os números são inteiros e não negativos
- [x] Validar consistência com casos

#### 5. recuperados
- [x] Conferir se os números são inteiros e não negativos
- [x] Verificar consistência com casos e óbitos
- [x] Checar registros nulos

#### 6. casosPorMilhão
- [ ] Verificar cálculo correto a partir de casos e população
- [ ] Conferir valores extremos
- [ ] Validar atualizações recentes

#### 7. óbitosPorMilhão
- [ ] Conferir cálculo correto a partir de óbitos e população
- [ ] Validar consistência com casosPorMilhão
- [ ] Verificar valores discrepantes

#### 8. população
- [ ] Confirmar números inteiros e positivos
- [ ] Checar se há duplicidades
- [ ] Verificar atualização da população

In [54]:
all_dataframe['estados'].dtype
all_dataframe['estados'].isna().value_counts()
# False    63

all_dataframe['estados'].duplicated().value_counts()
# False    63

all_dataframe['estados'] = all_dataframe['estados'].fillna('Não informado')
all_dataframe['estados'].unique()

array(['California', 'Texas', 'Florida', 'New York', 'Illinois', 'Ohio',
       'Pennsylvania', 'North Carolina', 'Michigan', 'New Jersey',
       'Georgia', 'Tennessee', 'Arizona', 'Massachusetts', 'Virginia',
       'Indiana', 'Washington', 'Wisconsin', 'Minnesota', 'Colorado',
       'South Carolina', 'Kentucky', 'Missouri', 'Louisiana', 'Alabama',
       'Maryland', 'Oklahoma', 'Utah', 'Arkansas', 'Iowa', 'Mississippi',
       'Oregon', 'Connecticut', 'Kansas', 'Nevada', 'New Mexico',
       'West Virginia', 'Nebraska', 'Idaho', 'Rhode Island', 'Hawaii',
       'New Hampshire', 'Delaware', 'Maine', 'Montana', 'North Dakota',
       'Alaska', 'South Dakota', 'Wyoming', 'District Of Columbia',
       'Vermont', 'Puerto Rico', 'Guam', 'United States Virgin Islands',
       'Northern Mariana Islands', 'American Samoa', 'Veteran Affairs',
       'US Military', 'Navajo Nation', 'Federal Prisons',
       'Grand Princess Ship', 'Wuhan Repatriated',
       'Diamond Princess Ship'], dtype=object)

In [55]:
all_dataframe['atualizado'] = pd.to_datetime(all_dataframe['atualizado'], unit='ms')

all_dataframe['atualizado'] = all_dataframe['atualizado'].fillna(pd.NaT)

all_dataframe['atualizado']

0    2025-10-27 23:54:55.352
1    2025-10-27 23:54:55.352
2    2025-10-27 23:54:55.352
3    2025-10-27 23:54:55.352
4    2025-10-27 23:54:55.352
5    2025-10-27 23:54:55.352
6    2025-10-27 23:54:55.352
7    2025-10-27 23:54:55.352
8    2025-10-27 23:54:55.352
9    2025-10-27 23:54:55.352
10   2025-10-27 23:54:55.352
11   2025-10-27 23:54:55.352
12   2025-10-27 23:54:55.352
13   2025-10-27 23:54:55.352
14   2025-10-27 23:54:55.352
15   2025-10-27 23:54:55.352
16   2025-10-27 23:54:55.352
17   2025-10-27 23:54:55.352
18   2025-10-27 23:54:55.352
19   2025-10-27 23:54:55.352
20   2025-10-27 23:54:55.352
21   2025-10-27 23:54:55.352
22   2025-10-27 23:54:55.352
23   2025-10-27 23:54:55.352
24   2025-10-27 23:54:55.353
25   2025-10-27 23:54:55.353
26   2025-10-27 23:54:55.353
27   2025-10-27 23:54:55.353
28   2025-10-27 23:54:55.353
29   2025-10-27 23:54:55.353
30   2025-10-27 23:54:55.353
31   2025-10-27 23:54:55.353
32   2025-10-27 23:54:55.353
33   2025-10-27 23:54:55.353
34   2025-10-27 23:54:55.353
35   2025-10-27 23:54:55.353
36   2025-10-27 23:54:55.353
37   2025-10-27 23:54:55.353
38   2025-10-27 23:54:55.353
39   2025-10-27 23:54:55.353
40   2025-10-27 23:54:55.353
41   2025-10-27 23:54:55.353
42   2025-10-27 23:54:55.353
43   2025-10-27 23:54:55.353
44   2025-10-27 23:54:55.353
45   2025-10-27 23:54:55.353
46   2025-10-27 23:54:55.353
47   2025-10-27 23:54:55.353
48   2025-10-27 23:54:55.353
49   2025-10-27 23:54:55.353
50   2025-10-27 23:54:55.353
51   2025-10-27 23:54:55.353
52   2025-10-27 23:54:55.353
53   2025-10-27 23:54:55.354
54   2025-10-27 23:54:55.354
55   2025-10-27 23:54:55.354
56   2025-10-27 23:54:55.354
57   2025-10-27 23:54:55.354
58   2025-10-27 23:54:55.354
59   2025-10-27 23:54:55.354
60   2025-10-27 23:54:55.354
61   2025-10-27 23:54:55.354
62   2025-10-27 23:54:55.354
Name: atualizado, dtype: datetime64[ns]

In [56]:
all_dataframe.query('casos < 0')
# não existe casos com valores negativos
all_dataframe['casos'].dtype
# dtype('int64')
all_dataframe['casos'].isna().value_counts()
#False    63
all_dataframe['casos'].duplicated().value_counts()
#False    63
all_dataframe['casos'] = all_dataframe['casos'].fillna(0)

all_dataframe['casos']

0     12711918
1      9190299
2      8048191
3      7587861
4      4136659
5      3741277
6      3565499
7      3501404
8      3306221
9      3295020
10     3287483
11     2729641
12     2607545
13     2367542
14     2315784
15     2208419
16     2070848
17     2043838
18     1900794
19     1874746
20     1857853
21     1808735
22     1780715
23     1684058
24     1659936
25     1451442
26     1306350
27     1137615
28     1062606
29     1058274
30     1000415
31      992925
32      983652
33      946564
34      923059
35      725653
36      703856
37      574399
38      525825
39      443803
40      418369
41      382013
42      350706
43      346182
44      333758
45      309990
46      301513
47      282895
48      196126
49      178747
50      155080
51     1473460
52       61139
53       26148
54       14341
55        8359
56      958962
57      742808
58       89106
59       71485
60         122
61           3
62          46
Name: casos, dtype: int64

In [57]:
all_dataframe.query('óbitos < 0')
# não existe casos com valores negativos
all_dataframe['óbitos'].dtype

all_dataframe['óbitos'].isna().value_counts()
#False    63
all_dataframe['óbitos'].duplicated().value_counts()
#False    63

all_dataframe['óbitos'] = all_dataframe['óbitos'].fillna(0)

all_dataframe[['casos','óbitos']]

       casos  óbitos
0   12711918  112443
1    9190299  104793
2    8048191   95206
3    7587861   83374
4    4136659   42005
5    3741277   43896
6    3565499   51480
7    3501404   29059
8    3306221   44762
9    3295020   36873
10   3287483   44069
11   2729641   30729
12   2607545   34402
13   2367542   25586
14   2315784   23748
15   2208419   28018
16   2070848   17339
17   2043838   16758
18   1900794   16458
19   1874746   15552
20   1857853   20311
21   1808735   19183
22   1780715   22778
23   1684058   19270
24   1659936   21138
25   1451442   17929
26   1306350   16157
27   1137615    5719
28   1062606   13246
29   1058274   10797
30   1000415   13474
31    992925    9764
32    983652   12354
33    946564   10229
34    923059   12485
35    725653    9623
36    703856    8247
37    574399    5063
38    525825    5482
39    443803    4166
40    418369    2167
41    382013    3329
42    350706    3663
43    346182    3394
44    333758    3712
45    309990    2513
46    301513    1485
47    282895    3231
48    196126    2126
49    178747    1434
50    155080    1139
51   1473460    7326
52     61139     420
53     26148     133
54     14341      41
55      8359      34
56    958962   26087
57    742808     689
58     89106    2268
59     71485     324
60       122       7
61         3       0
62        46       0

In [58]:
all_dataframe.query('recuperados < 0')
# não existe casos com valores negativos
all_dataframe['recuperados'].dtype
# dtype('int64')
all_dataframe['recuperados'].isna().value_counts()
# False    63
all_dataframe['recuperados'].unique()

array([      0, 3684603, 1288527,  934730,  566979,  329725,   60681,
         26002,  931580,     115,       3,      46])

In [ ]:
import numpy as np

# calcula o valor esperado
esperado = (all_dataframe['casos'] / all_dataframe['população']) * 1_000_000

# diferença entre o valor da coluna e o esperado
diferenca = (all_dataframe['casosPorMilhão'] - esperado).abs()

# tolerância numérica
tolerancia = 1e-6

# verifica se todos os valores batem
valido = np.all(diferenca < tolerancia)

print(diferenca, tolerancia)

0     0.154489
1     0.119835
2     0.485893
3     0.024060
4     0.495443
5     0.445586
6     0.331325
7     0.084960
8     0.208489
9     0.321755
10    0.028341
11    0.049101
12    0.393543
13    0.244035
14    0.445736
15    0.308353
16    0.091049
17    0.109550
18    0.204172
19    0.175850
20    0.259806
21    0.459663
22    0.267226
23    0.036151
24    0.396422
25    0.197046
26    0.113463
27    0.012305
28    0.330688
29    0.133309
30    0.124505
31    0.472132
32    0.003523
33    0.292361
34    0.301957
35    0.384241
36    0.431614
37    0.125467
38    0.437290
39    0.378091
40    0.043846
41    0.386017
42    0.027296
43    0.269734
44    0.005764
45    0.073795
46    0.197315
47    0.418648
48    0.347974
49    0.235887
50    0.022164
51    0.468423
52         inf
53         inf
54         inf
55         inf
56         inf
57         inf
58         inf
59         inf
60         inf
61         inf
62         inf
dtype: float64 1e-06